<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Bienvenido a Recetify</h1>
      <p class="lead">Aquí podrás encontrar una gran variedad de recetas y funciones que te puedan ayudar en tu día a día.</p>
      <a href="/Inicio-Sesion">
        <button class="btn btn-primary">Descubrir más</button>
    </a>
    </div>
  </div>

  <!-- Tarjetas -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Receta 1">
        <div class="card-body">
          <h5 class="card-title">Agrega tus recetas favoritas</h5>
          <p class="card-text">Podrás buscar, crear y agregar tus recetas favoritas para que las consultes en el momento que lo desees.</p>
          <a href="/Inicio-Sesion" class="btn btn-primary">Empezar a buscar</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Receta 2">
        <div class="card-body">
          <h5 class="card-title">Crea tu lista de compras</h5>
          <p class="card-text">Agrega todo tipo de ingredientes necesarios que requieras en base a tus recetas favoritas.</p>
          <a href="/Inicio-Sesion" class="btn btn-primary">Ingresar ahora</a>
        </div>
      </div>
    </div>
  </div>
</div>
